*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.business{
    color: white;
}

header{
    display: flex;
    align-items: center;
    background-color: rgb(3, 100, 255);
    min-height: 70px;
    
}

.menu{
    display: flex;
}

.menu_item{
    margin-right: 30px;
}

.menu_item_link{
    color: white;
}

.lifirst{
    margin-left: 50px;
}

.icon{
margin: 10px;
font-size: 30px;
}

.menu_icon{
    font-size: 20px;
}

.container{
    width: 1200px;
    margin: 0 30px;
    padding:0 30px;
}

.row{
    display: flex;
    align-items: center;
}
.icon_second{
    margin-left: auto;
}

.button_watch{
    padding: 20px;
    border-radius: 60px;
    
}

.buttons{
    align-items: center;
}
.banner_overlay{
    position: absolute;
    top: 50%;
    right: 50%;
}

.button_first{
    padding: 10px;
    font-size: large;
    text-transform: uppercase;
}

.banner_image{
    position: absolute;
    left: 50%;
    width: 400px;
    height: 200px;
    margin: 20px;
    
}

.image{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.container_second{
 width: 1200px;
 margin: 0 30px;
 padding:0 30px;
}

.first_part{
    display: flex;
    background-color: rgb(3, 100, 255);
}

.section_first{
    min-height: 600px;
}

